* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {
    --dark-bgcolor: black;
    --dark-color: white;

    --light-bgcolor: white;
    --light-color: black;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    width: 100%;
    user-select: none;

}

.container {
    /* background-color: #222; */

}

.light{
    background-color: var(--light-bgcolor);
    color: var(--light-color);
}

.light .btn {
    color: royalblue;
}

.dark {
    background-color: var(--dark-bgcolor);
    color: var(--dark-color);
}

.dark .btn {
    color: chartreuse
}

button {
    padding: 10px 20px;
    background-color: crimson;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    margin-top: 20px;
    color: white;

    &:active {
        scale: .95;
    }
}